In [1]:
import pandas as pd
import datetime as dt

In [2]:
filename = 'iControl IR experiment.xlsx'

#read files
measured_values = pd.read_excel(filename,sheet_name='Measured values', skiprows=[1])
recipe = pd.read_excel(filename,sheet_name='Recipe', usecols=['Action / Note / Sample','Type','Start Time'])

#slice columns that are needed
recipe_note = recipe[recipe['Type']=='Note'].iloc[:,[1,2]]
measured_values_filtered = measured_values.iloc[:,[1,4,5,6,7,9,10,11]].copy()

#convert datetime type
recipe_note['Start Time'] = pd.to_datetime(recipe_note['Start Time'], format='%H:%M:%S')
measured_values_filtered['Rel. Time'] = pd.to_datetime(measured_values_filtered['Rel. Time'], format='%H:%M:%S') 

#sort data by time
measured_values_filtered = measured_values_filtered.sort_values('Rel. Time')
recipe_note = recipe_note.sort_values('Start Time')

#merge on time and fill note data into the nearest time (1 second tolerance)
output = pd.merge_asof(measured_values_filtered,recipe_note,left_on = 'Rel. Time',right_on='Start Time',direction='forward',tolerance=pd.Timedelta(seconds=1)).drop(columns=['Start Time'])
output['Rel. Time'] = output['Rel. Time'].dt.time

#rename columns
output = output.rename({'Rel. Time':'DateTime'},axis=1)
output.to_excel('iControl IR experiment_output.xlsx',sheet_name = 'Output',index=False)

In [3]:
output.sample(10)

,DateTime,iC IR Experiment\9384-834-8384384348\Peak at 1127 cm-1,iC IR Experiment\9384-834-8384384348\Peak at 1127 cm-1 1,iC IR Experiment\9384-834-8384384348\Peak at 1127 cm-1 2,iC IR Experiment\9384-834-8384384348\RTD1,R,Tj,Tr,Action / Note / Sample
2048,01:08:16,-1.611614e-16,-1.611614e-16,-1.611614e-16,66.407151,999.0,141.802927,177.000000,IR 35
77,00:02:34,4.144629e-01,4.144629e-01,4.144629e-01,28.461404,100.0,25.000000,24.999776,NaN
372,00:12:24,2.787498e-01,2.787498e-01,2.787498e-01,37.758808,100.0,37.492453,50.000000,NaN
672,00:22:24,1.523301e-01,1.523301e-01,1.523301e-01,45.408243,100.0,38.257432,33.000000,NaN
944,00:31:28,7.361683e-02,7.361683e-02,7.361683e-02,51.209665,50.0,73.029167,100.000000,NaN
1253,00:41:46,1.332613e-02,1.332613e-02,1.332613e-02,56.684276,300.0,45.206030,76.000000,NaN
1865,01:02:10,4.440892e-16,4.440892e-16,4.440892e-16,64.498344,140.0,11.234914,14.923162,NaN
1602,00:53:24,-3.608225e-16,-3.608225e-16,-3.608225e-16,61.571118,50.0,132.106912,177.000000,NaN
40,00:01:20,4.290766e-01,4.290766e-01,4.290766e-01,27.177334,100.0,25.000000,24.999776,NaN
903,00:30:06,8.379154e-02,8.379154e-02,8.379154e-02,50.372787,50.0,14.101511,4.000000,NaN

In [4]:
recipe_note[~recipe_note['Start Time'].isin(measured_values['Rel. Time'])].head(20)

   Action / Note / Sample          Start Time
3                   Con 1 1900-01-01 00:01:44
7                   Con 3 1900-01-01 00:02:39
4                   Con 2 1900-01-01 00:03:15
5                    IR 1 1900-01-01 00:05:13
8                    IR 2 1900-01-01 00:05:51
9                    IR 3 1900-01-01 00:07:29
10                   IR 4 1900-01-01 00:08:42
12                  Con 4 1900-01-01 00:10:43
13                  Con 6 1900-01-01 00:11:28
18                   IR 5 1900-01-01 00:11:51
14                  Con 5 1900-01-01 00:11:52
15                  Con 7 1900-01-01 00:13:58
19                   IR 6 1900-01-01 00:15:27
20                   IR 7 1900-01-01 00:16:50
16                  Con 8 1900-01-01 00:18:39
21                   IR 8 1900-01-01 00:20:04
17                  Con 9 1900-01-01 00:20:43
22                   IR 9 1900-01-01 00:21:39
27                  IR 10 1900-01-01 00:22:46
25                 Con 10 1900-01-01 00:23:00